body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cornsilk;
}

.App {
  margin: 2% 10%;
  text-align: center;
}
.search {
  background-color: indianred;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.Flower {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: indianred 3px solid;
  border-radius: 15px;
  margin: 2rem 0;
  pad: 2rem;
}

.Flower .picture,
.Flower .informations {
  width: 50%;
  padding: 1rem;
}
.Flower img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }

  .Flower {
    flex-direction: column;
  }
  .Flower .picture,
  .Flower .informations {
    width: 90%;
    padding: 1rem;
  }
  .search {
    flex-direction: column;
    gap: 1rem;
  }
}
